
body {
    background: url("backgroundapp.jpg")
    
}

.card {
   display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 260px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px  rgba(0,0,0,0.9);
    margin: 10px 10px;
    background-color: lightyellow;
}
.hidden{
    display: none;
}

